div {
	width: 900px;
	height: 400px;
	background-color: green;
	padding: auto;
	margin: 40px;
	position: relative;
}

div>div {
	width: 850px;
	height: 350px;
	background-color: green;
	border: 1px white solid;
	position: absolute;
	padding: auto;
	margin: 25px;
}

.cancha1 {
	width: 70px;
	height: 160px;
	background-color: green;
	border: 1px white solid;
	position: absolute;
	margin: 85px 0px;
}

.cancha2 {
	width: 70px;
	height: 160px;
	background-color: green;
	border: 1px white solid;
	position: absolute;
	margin: 85px 780px;
}

.circulo {
	width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px white solid;
    background: green;
    position: absolute;
    margin: 85px 380px;
}

.b1 {
	position: absolute;
	margin: 100px 150px;
}

.b2 {
	position: absolute;
	margin-top: 40px;
	margin-left: 500px;
}

.b3{
	position: absolute;
	margin-top: 250px;
	margin-left: 700px;
}

.v {
	position: absolute;
	vertical-align: 90;
	height: 350px;
	left: 450px;
	color: white;
	top: -8px;
}

